<!-- employee_form.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#id_work_type').change(function(){
                var work_type = $(this).val();
                if (work_type === 'full_time') {
                    $('#id_salary').val('10000');
                } else if (work_type === 'half_time') {
                    $('#id_salary').val('5000');
                } else {
                    $('#id_salary').val('');
                }
            });
        });
    </script>
</head>
<body>
    <h1>Add Employee</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div id="calculated_salary"></div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
